@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin keyframes-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@include keyframes(fadeIO) {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

$fade-duration: 3000ms;
.fadeIO.loop {

}


.fadeIO.on, .fadeIO.on2  {
  -webkit-animation: fadeIO $fade-duration ease-in-out;
  -moz-animation: fadeIO $fade-duration ease-in-out;
  -o-animation: fadeIO $fade-duration ease-in-out;
  animation: fadeIO $fade-duration ease-in-out;
}



$duration-all-move: 500ms;
.anim-all{
  -webkit-transition: all $duration-all-move ease-in-out;
  -moz-transition: all $duration-all-move ease-in-out;
  -ms-transition: all $duration-all-move ease-in-out;
  -o-transition: all $duration-all-move ease-in-out;
  transition: all $duration-all-move ease-in-out;
}
/* ROTATION */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-reverse { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


@for $i from 1 through 10{
  .rotate-#{$i}s {

    -webkit-animation:spin #{$i}s linear infinite;
    -moz-animation:spin #{$i}s linear infinite;
    animation:spin #{$i}s linear infinite;

  }

  .rotate-reverse-#{$i}s{
    -webkit-animation:spin-reverse #{$i}s  linear infinite;
    -moz-animation:spin-reverse #{$i}s  linear infinite;
    animation:spin-reverse #{$i}s linear infinite;
  }
}

.rotate {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

.rotate-reverse {
  -webkit-animation:spin-reverse 2s linear infinite;
  -moz-animation:spin-reverse 2s linear infinite;
  animation:spin-reverse 2s linear infinite;
}

/* CABS */
@include keyframes(cab1) {
  0% { bottom: 94px;right: 147px; };3.1% { bottom: 95.4px;right: 161.3px; };6.3% { bottom: 99.6px;right: 175.1px; };9.4% { bottom: 106.4px;right: 187.8px; };12.5% { bottom: 115.5px;right: 199px; };15.6% { bottom: 126.7px;right: 208.1px; };18.8% { bottom: 139.4px;right: 214.9px; };21.9% { bottom: 153.2px;right: 219.1px; };25% { bottom: 167.5px;right: 220.5px; };28.1% { bottom: 181.8px;right: 219.1px; };31.3% { bottom: 195.6px;right: 214.9px; };34.4% { bottom: 208.3px;right: 208.1px; };37.5% { bottom: 219.5px;right: 199px; };40.6% { bottom: 228.6px;right: 187.8px; };43.8% { bottom: 235.4px;right: 175.1px; };46.9% { bottom: 239.6px;right: 161.3px; };50% { bottom: 241px;right: 147px; };53.1% { bottom: 239.6px;right: 132.7px; };56.3% { bottom: 235.4px;right: 118.9px; };59.4% { bottom: 228.6px;right: 106.2px; };62.5% { bottom: 219.5px;right: 95px; };65.6% { bottom: 208.3px;right: 85.9px; };68.8% { bottom: 195.6px;right: 79.1px; };71.9% { bottom: 181.8px;right: 74.9px; };75% { bottom: 167.5px;right: 73.5px; };78.1% { bottom: 153.2px;right: 74.9px; };81.3% { bottom: 139.4px;right: 79.1px; };84.4% { bottom: 126.7px;right: 85.9px; };87.5% { bottom: 115.5px;right: 95px; };90.6% { bottom: 106.4px;right: 106.2px; };93.8% { bottom: 99.6px;right: 118.9px; };96.9% { bottom: 95.4px;right: 132.7px; };100% { bottom: 94px;right: 147px; };
}
@include keyframes(cab2) {
  0% { bottom: 115.5px;right: 95px; };3.1% { bottom: 106.4px;right: 106.2px; };6.3% { bottom: 99.6px;right: 118.9px; };9.4% { bottom: 95.4px;right: 132.7px; };12.5% { bottom: 94px;right: 147px; };15.6% { bottom: 95.4px;right: 161.3px; };18.8% { bottom: 99.6px;right: 175.1px; };21.9% { bottom: 106.4px;right: 187.8px; };25% { bottom: 115.5px;right: 199px; };28.1% { bottom: 126.7px;right: 208.1px; };31.3% { bottom: 139.4px;right: 214.9px; };34.4% { bottom: 153.2px;right: 219.1px; };37.5% { bottom: 167.5px;right: 220.5px; };40.6% { bottom: 181.8px;right: 219.1px; };43.8% { bottom: 195.6px;right: 214.9px; };46.9% { bottom: 208.3px;right: 208.1px; };50% { bottom: 219.5px;right: 199px; };53.1% { bottom: 228.6px;right: 187.8px; };56.3% { bottom: 235.4px;right: 175.1px; };59.4% { bottom: 239.6px;right: 161.3px; };62.5% { bottom: 241px;right: 147px; };65.6% { bottom: 239.6px;right: 132.7px; };68.8% { bottom: 235.4px;right: 118.9px; };71.9% { bottom: 228.6px;right: 106.2px; };75% { bottom: 219.5px;right: 95px; };78.1% { bottom: 208.3px;right: 85.9px; };81.3% { bottom: 195.6px;right: 79.1px; };84.4% { bottom: 181.8px;right: 74.9px; };87.5% { bottom: 167.5px;right: 73.5px; };90.6% { bottom: 153.2px;right: 74.9px; };93.8% { bottom: 139.4px;right: 79.1px; };96.9% { bottom: 126.7px;right: 85.9px; };100% { bottom: 115.5px;right: 95px; };
}
@include keyframes(cab3) {
  0% { bottom: 167.5px;right: 73.5px; };3.1% { bottom: 153.2px;right: 74.9px; };6.3% { bottom: 139.4px;right: 79.1px; };9.4% { bottom: 126.7px;right: 85.9px; };12.5% { bottom: 115.5px;right: 95px; };15.6% { bottom: 106.4px;right: 106.2px; };18.8% { bottom: 99.6px;right: 118.9px; };21.9% { bottom: 95.4px;right: 132.7px; };25% { bottom: 94px;right: 147px; };28.1% { bottom: 95.4px;right: 161.3px; };31.3% { bottom: 99.6px;right: 175.1px; };34.4% { bottom: 106.4px;right: 187.8px; };37.5% { bottom: 115.5px;right: 199px; };40.6% { bottom: 126.7px;right: 208.1px; };43.8% { bottom: 139.4px;right: 214.9px; };46.9% { bottom: 153.2px;right: 219.1px; };50% { bottom: 167.5px;right: 220.5px; };53.1% { bottom: 181.8px;right: 219.1px; };56.3% { bottom: 195.6px;right: 214.9px; };59.4% { bottom: 208.3px;right: 208.1px; };62.5% { bottom: 219.5px;right: 199px; };65.6% { bottom: 228.6px;right: 187.8px; };68.8% { bottom: 235.4px;right: 175.1px; };71.9% { bottom: 239.6px;right: 161.3px; };75% { bottom: 241px;right: 147px; };78.1% { bottom: 239.6px;right: 132.7px; };81.3% { bottom: 235.4px;right: 118.9px; };84.4% { bottom: 228.6px;right: 106.2px; };87.5% { bottom: 219.5px;right: 95px; };90.6% { bottom: 208.3px;right: 85.9px; };93.8% { bottom: 195.6px;right: 79.1px; };96.9% { bottom: 181.8px;right: 74.9px; };100% { bottom: 167.5px;right: 73.5px; };
}
@include keyframes(cab4) {
  0% { bottom: 219.5px;right: 95px; };3.1% { bottom: 208.3px;right: 85.9px; };6.3% { bottom: 195.6px;right: 79.1px; };9.4% { bottom: 181.8px;right: 74.9px; };12.5% { bottom: 167.5px;right: 73.5px; };15.6% { bottom: 153.2px;right: 74.9px; };18.8% { bottom: 139.4px;right: 79.1px; };21.9% { bottom: 126.7px;right: 85.9px; };25% { bottom: 115.5px;right: 95px; };28.1% { bottom: 106.4px;right: 106.2px; };31.3% { bottom: 99.6px;right: 118.9px; };34.4% { bottom: 95.4px;right: 132.7px; };37.5% { bottom: 94px;right: 147px; };40.6% { bottom: 95.4px;right: 161.3px; };43.8% { bottom: 99.6px;right: 175.1px; };46.9% { bottom: 106.4px;right: 187.8px; };50% { bottom: 115.5px;right: 199px; };53.1% { bottom: 126.7px;right: 208.1px; };56.3% { bottom: 139.4px;right: 214.9px; };59.4% { bottom: 153.2px;right: 219.1px; };62.5% { bottom: 167.5px;right: 220.5px; };65.6% { bottom: 181.8px;right: 219.1px; };68.8% { bottom: 195.6px;right: 214.9px; };71.9% { bottom: 208.3px;right: 208.1px; };75% { bottom: 219.5px;right: 199px; };78.1% { bottom: 228.6px;right: 187.8px; };81.3% { bottom: 235.4px;right: 175.1px; };84.4% { bottom: 239.6px;right: 161.3px; };87.5% { bottom: 241px;right: 147px; };90.6% { bottom: 239.6px;right: 132.7px; };93.8% { bottom: 235.4px;right: 118.9px; };96.9% { bottom: 228.6px;right: 106.2px; };100% { bottom: 219.5px;right: 95px; };
}
@include keyframes(cab5) {
  0% { bottom: 241px;right: 147px; };3.1% { bottom: 239.6px;right: 132.7px; };6.3% { bottom: 235.4px;right: 118.9px; };9.4% { bottom: 228.6px;right: 106.2px; };12.5% { bottom: 219.5px;right: 95px; };15.6% { bottom: 208.3px;right: 85.9px; };18.8% { bottom: 195.6px;right: 79.1px; };21.9% { bottom: 181.8px;right: 74.9px; };25% { bottom: 167.5px;right: 73.5px; };28.1% { bottom: 153.2px;right: 74.9px; };31.3% { bottom: 139.4px;right: 79.1px; };34.4% { bottom: 126.7px;right: 85.9px; };37.5% { bottom: 115.5px;right: 95px; };40.6% { bottom: 106.4px;right: 106.2px; };43.8% { bottom: 99.6px;right: 118.9px; };46.9% { bottom: 95.4px;right: 132.7px; };50% { bottom: 94px;right: 147px; };53.1% { bottom: 95.4px;right: 161.3px; };56.3% { bottom: 99.6px;right: 175.1px; };59.4% { bottom: 106.4px;right: 187.8px; };62.5% { bottom: 115.5px;right: 199px; };65.6% { bottom: 126.7px;right: 208.1px; };68.8% { bottom: 139.4px;right: 214.9px; };71.9% { bottom: 153.2px;right: 219.1px; };75% { bottom: 167.5px;right: 220.5px; };78.1% { bottom: 181.8px;right: 219.1px; };81.3% { bottom: 195.6px;right: 214.9px; };84.4% { bottom: 208.3px;right: 208.1px; };87.5% { bottom: 219.5px;right: 199px; };90.6% { bottom: 228.6px;right: 187.8px; };93.8% { bottom: 235.4px;right: 175.1px; };96.9% { bottom: 239.6px;right: 161.3px; };100% { bottom: 241px;right: 147px; };
}
@include keyframes(cab6) {
  0% { bottom: 219.5px;right: 199px; };3.1% { bottom: 228.6px;right: 187.8px; };6.3% { bottom: 235.4px;right: 175.1px; };9.4% { bottom: 239.6px;right: 161.3px; };12.5% { bottom: 241px;right: 147px; };15.6% { bottom: 239.6px;right: 132.7px; };18.8% { bottom: 235.4px;right: 118.9px; };21.9% { bottom: 228.6px;right: 106.2px; };25% { bottom: 219.5px;right: 95px; };28.1% { bottom: 208.3px;right: 85.9px; };31.3% { bottom: 195.6px;right: 79.1px; };34.4% { bottom: 181.8px;right: 74.9px; };37.5% { bottom: 167.5px;right: 73.5px; };40.6% { bottom: 153.2px;right: 74.9px; };43.8% { bottom: 139.4px;right: 79.1px; };46.9% { bottom: 126.7px;right: 85.9px; };50% { bottom: 115.5px;right: 95px; };53.1% { bottom: 106.4px;right: 106.2px; };56.3% { bottom: 99.6px;right: 118.9px; };59.4% { bottom: 95.4px;right: 132.7px; };62.5% { bottom: 94px;right: 147px; };65.6% { bottom: 95.4px;right: 161.3px; };68.8% { bottom: 99.6px;right: 175.1px; };71.9% { bottom: 106.4px;right: 187.8px; };75% { bottom: 115.5px;right: 199px; };78.1% { bottom: 126.7px;right: 208.1px; };81.3% { bottom: 139.4px;right: 214.9px; };84.4% { bottom: 153.2px;right: 219.1px; };87.5% { bottom: 167.5px;right: 220.5px; };90.6% { bottom: 181.8px;right: 219.1px; };93.8% { bottom: 195.6px;right: 214.9px; };96.9% { bottom: 208.3px;right: 208.1px; };100% { bottom: 219.5px;right: 199px; };
}
@include keyframes(cab7) {
  0% { bottom: 167.5px;right: 220.5px; };3.1% { bottom: 181.8px;right: 219.1px; };6.3% { bottom: 195.6px;right: 214.9px; };9.4% { bottom: 208.3px;right: 208.1px; };12.5% { bottom: 219.5px;right: 199px; };15.6% { bottom: 228.6px;right: 187.8px; };18.8% { bottom: 235.4px;right: 175.1px; };21.9% { bottom: 239.6px;right: 161.3px; };25% { bottom: 241px;right: 147px; };28.1% { bottom: 239.6px;right: 132.7px; };31.3% { bottom: 235.4px;right: 118.9px; };34.4% { bottom: 228.6px;right: 106.2px; };37.5% { bottom: 219.5px;right: 95px; };40.6% { bottom: 208.3px;right: 85.9px; };43.8% { bottom: 195.6px;right: 79.1px; };46.9% { bottom: 181.8px;right: 74.9px; };50% { bottom: 167.5px;right: 73.5px; };53.1% { bottom: 153.2px;right: 74.9px; };56.3% { bottom: 139.4px;right: 79.1px; };59.4% { bottom: 126.7px;right: 85.9px; };62.5% { bottom: 115.5px;right: 95px; };65.6% { bottom: 106.4px;right: 106.2px; };68.8% { bottom: 99.6px;right: 118.9px; };71.9% { bottom: 95.4px;right: 132.7px; };75% { bottom: 94px;right: 147px; };78.1% { bottom: 95.4px;right: 161.3px; };81.3% { bottom: 99.6px;right: 175.1px; };84.4% { bottom: 106.4px;right: 187.8px; };87.5% { bottom: 115.5px;right: 199px; };90.6% { bottom: 126.7px;right: 208.1px; };93.8% { bottom: 139.4px;right: 214.9px; };96.9% { bottom: 153.2px;right: 219.1px; };100% { bottom: 167.5px;right: 220.5px; };
}
@include keyframes(cab8) {
  0% { bottom: 115.5px;right: 199px; };3.1% { bottom: 126.7px;right: 208.1px; };6.3% { bottom: 139.4px;right: 214.9px; };9.4% { bottom: 153.2px;right: 219.1px; };12.5% { bottom: 167.5px;right: 220.5px; };15.6% { bottom: 181.8px;right: 219.1px; };18.8% { bottom: 195.6px;right: 214.9px; };21.9% { bottom: 208.3px;right: 208.1px; };25% { bottom: 219.5px;right: 199px; };28.1% { bottom: 228.6px;right: 187.8px; };31.3% { bottom: 235.4px;right: 175.1px; };34.4% { bottom: 239.6px;right: 161.3px; };37.5% { bottom: 241px;right: 147px; };40.6% { bottom: 239.6px;right: 132.7px; };43.8% { bottom: 235.4px;right: 118.9px; };46.9% { bottom: 228.6px;right: 106.2px; };50% { bottom: 219.5px;right: 95px; };53.1% { bottom: 208.3px;right: 85.9px; };56.3% { bottom: 195.6px;right: 79.1px; };59.4% { bottom: 181.8px;right: 74.9px; };62.5% { bottom: 167.5px;right: 73.5px; };65.6% { bottom: 153.2px;right: 74.9px; };68.8% { bottom: 139.4px;right: 79.1px; };71.9% { bottom: 126.7px;right: 85.9px; };75% { bottom: 115.5px;right: 95px; };78.1% { bottom: 106.4px;right: 106.2px; };81.3% { bottom: 99.6px;right: 118.9px; };84.4% { bottom: 95.4px;right: 132.7px; };87.5% { bottom: 94px;right: 147px; };90.6% { bottom: 95.4px;right: 161.3px; };93.8% { bottom: 99.6px;right: 175.1px; };96.9% { bottom: 106.4px;right: 187.8px; };100% { bottom: 115.5px;right: 199px; };
}


#wheel-cab-1{

  -webkit-animation:cab1 10s linear infinite;
  -moz-animation:cab1 10s linear infinite;
  animation:cab1 10s linear infinite;


}
#wheel-cab-2{
  /*
  bottom:95px;
  right:80px;
  bottom: 0px;right: 70px;
  */
  bottom: 92px;right: 143px;
  -webkit-animation:cab2 10s linear infinite;
  -moz-animation:cab2 10s linear infinite;
  animation:cab2 10s linear infinite;
}
#wheel-cab-3{

  -webkit-animation:cab3 10s linear infinite;
  -moz-animation:cab3 10s linear infinite;
  animation:cab3 10s linear infinite;
}
#wheel-cab-4{

  -webkit-animation:cab4 10s linear infinite;
  -moz-animation:cab4 10s linear infinite;
  animation:cab4 10s linear infinite;
}
#wheel-cab-5{

  -webkit-animation:cab5 10s linear infinite;
  -moz-animation:cab5 10s linear infinite;
  animation:cab5 10s linear infinite;
}
#wheel-cab-6{
  -webkit-animation:cab6 10s linear infinite;
  -moz-animation:cab6 10s linear infinite;
  animation:cab6 10s linear infinite;
}
#wheel-cab-7{

  -webkit-animation:cab7 10s linear infinite;
  -moz-animation:cab7 10s linear infinite;
  animation:cab7 10s linear infinite;
}
#wheel-cab-8{
  -webkit-animation:cab8 10s linear infinite;
  -moz-animation:cab8 10s linear infinite;
  animation:cab8 10s linear infinite;
}
/*status quo */
$sq-anim-duration : 6s;
$sq-anim-duration-twice : 12s;
@include keyframes(pyramide-strat) {
  0% {  background: linear-gradient(to top, #E49CB9 0%,  #E49CB9 25%, #fff 26%) }
  12.5% {  background: linear-gradient(to top, #E49CB9 0%,  #E49CB9 25%,#D66994 26%, #D66994 50%, #fff 51%) }
  25% { background: linear-gradient(to top, #E49CB9 0%,  #E49CB9 25%,#D66994 26%, #D66994 50%, #D75082 51%, #D75082 75%, #fff 76%) }
  50% {background: linear-gradient(to top, #E49CB9 0%,  #E49CB9 25%,#D66994 26%, #D66994 50%, #D75082 51%, #D75082 75%, #CA0049 76%, #CA0049 100%); }
  100% {background: linear-gradient(to top, #E49CB9 0%,  #E49CB9 25%,#D66994 26%, #D66994 50%, #D75082 51%, #D75082 75%, #CA0049 76%, #CA0049 100%); }


}
#sq-anim-1 .z-1{

  -webkit-animation:pyramide-strat $sq-anim-duration  infinite;
  -moz-animation:pyramide-strat $sq-anim-duration  infinite;
  animation:pyramide-strat $sq-anim-duration  infinite;
}

@include keyframes(locker) {
  0% { height: 0px }
  50% { height: 86px; }
  100% { height: 86px; }
}


#sq-anim-2 .z-3{
  -webkit-animation:locker $sq-anim-duration linear infinite;
  -moz-animation:locker $sq-anim-duration linear infinite;
  animation:locker $sq-anim-duration linear infinite;
}


@include keyframes(climb) {
  0% { top: 158px; left: 38px; }
  10% { top: 140px; left: 66px; }
  20% { top: 160px; left: 104px; }
  32.5% { top: 130px; left: 152px; }
  38.5% { top: 136px; left: 168px; }
  50% { top: 80px; left: 205px; }
  100% { top: 80px; left: 205px; }
}

#sq-anim-3 .freelance{
  -webkit-animation:climb $sq-anim-duration linear infinite;
  -moz-animation:climb $sq-anim-duration linear infinite;
  animation:climb $sq-anim-duration linear infinite;

}

@include keyframes(goto-center-dash-1) {
  0% {  }
  50% { top: 50%; left: 50%; }
  100% {  }
}
@include keyframes(goto-center-dash-2) {
  0% { }
  25% { top:75%; left: 25%; }
  50% { top: 50%; left: 50%; }
  75% { top:75%; left: 25%; }
  100% { top:75%; left: 25%; }
}

@include keyframes(goto-center-dash-3) {
  0% { }
  50% { top:75%; left: 75%; }
  75% { top: 50%; left: 50%; }
  100% { top:75%; left: 75%; }
}
#sq-anim-4{
  #dash-1{
    -webkit-animation:goto-center-dash-1 3s linear infinite;
    -moz-animation:goto-center-dash-1 3s linear infinite;
    animation:goto-center-dash-1 3s linear infinite;
  }
  #dash-2{
    -webkit-animation:goto-center-dash-2 4500ms linear infinite;
    -moz-animation:goto-center-dash-2 4500ms linear infinite;
    animation:goto-center-dash-2 4500ms linear infinite;
  }

  #dash-3{
    -webkit-animation:goto-center-dash-3 4500ms linear infinite;
    -moz-animation:goto-center-dash-3 4500ms linear infinite;
    animation:goto-center-dash-3 4500ms linear infinite;
  }

}

@include keyframes(bg-translate) {
  0%{
    border-left:0px solid #fff;
    border-right:30px solid #fff;
  }
  9%{
    border-left:5px solid #fff;
    border-right:25px solid #fff;
  }
  18%{
    border-left:10px solid #fff;
    border-right:20px solid #fff;
  }
  27%{
    border-left:15px solid #fff;
    border-right:15px solid #fff;
  }
  36%{
    border-left:20px solid #fff;
    border-right:10px solid #fff;
  }
  45%{
    border-left:25px solid #fff;
    border-right:5px solid #fff;
  }
  54%{
    border-left:30px solid #fff;
    border-right:0px solid #fff;
  }
  63%{
    border-left:25px solid #fff;
    border-right:5px solid #fff;
  }
  72%{
    border-left:20px solid #fff;
    border-right:10px solid #fff;
  }
  81%{
    border-left:15px solid #fff;
    border-right:15px solid #fff;
  }
  86{
    border-left:10px solid #fff;
    border-right:20px solid #fff;
  }
  90{
    border-left:5px solid #fff;
    border-right:25px solid #fff;
  }
  100%{
    border-left:0px solid #fff;
    border-right:30px solid #fff;
  }

}
.waving{
  -webkit-animation:bg-translate 8s linear infinite;
  -moz-animation:bg-translate 8s linear infinite;
  animation:bg-translate 8s linear infinite;

}

@include keyframes(dropping) {
  0% {top: -5px;}
  100%  {top : 405px;}
}

.drop.on{
  -webkit-animation:dropping 2s linear infinite;
  -moz-animation:dropping 2s linear infinite;
  animation:dropping 2s linear infinite;

}
#roadmap-label-1,  #roadmap-label-2,   #roadmap-label-3{
  -webkit-transition: all 10s linear;
  -moz-transition: all 10s linear;
  -ms-transition: all 10s linear;
  -o-transition: all 10s linear;
  transition: all 10s linear;
}
#roadmap-label-1.on,  #roadmap-label-3.on{

  right:5%!important;
}

#roadmap-label-2.on{
  left:20%!important;
}

@include keyframes(fill-water) {
  0% { height: 0px }
  66% { height: 90px; }
  100% { height: 90px; }

}

@include keyframes(token-fadein) {
  66% { opacity: 0 }
  100% { opacity: 1 }
}
#st-anim-1 {
  .z-1{
    -webkit-animation:fill-water 5s linear infinite;
    -moz-animation:fill-water 5s linear infinite;
    animation:fill-water 5s linear infinite;
  }
  .token{

    -webkit-animation:token-fadein 5s linear infinite;
    -moz-animation:token-fadein 5s linear infinite;
    animation:token-fadein 5s linear infinite;
  }
}

@include keyframes(token-in-doc) {
  0% { top:42%; left: 60%; }
  8% { top:42%; left: 35%; }
  20% { top:78%; left: 35%; }
  28% { top:78%; left: 60%; }
  40% { top:42%; left: 60%; }

  48% { top:42%; left: 60%; } // break

  60% { top:78%; left: 60%; }
  68% { top:78%; left: 35%; }
  80% { top:42%; left: 35%; }
  88% { top:42%; left: 60%; }
  100% { top:42%; left: 60%; }
}

#st-anim-2 {

  .token{
    -webkit-animation:token-in-doc 10s linear infinite;
    -moz-animation:token-in-doc 10s linear infinite;
    animation:token-in-doc 10s linear infinite;
  }
}

@include keyframes(unbox) {
  0% { top:33%;  }
  25% { top:33%; left: 19%   }

  50% { -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); tranform:rotate(-90deg); left: 15% ; top:52% }
  100% { -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); tranform:rotate(-90deg); left: 15% ; top:52% }

}

#st-anim-3 {
  .z-2{
    -webkit-animation:unbox 6s linear infinite;
    -moz-animation:unbox 6s linear infinite;
    animation:unbox 6s linear infinite;
  }
}
@include keyframes(infini) {
0% { bottom: 90px;right: 90px; };1.6% { bottom: 97.8px;right: 89.2px; };3.1% { bottom: 105.3px;right: 87px; };4.7% { bottom: 112.2px;right: 83.3px; };6.3% { bottom: 118.3px;right: 78.3px; };7.8% { bottom: 123.3px;right: 72.2px; };9.4% { bottom: 127px;right: 65.3px; };10.9% { bottom: 129.2px;right: 57.8px; };12.5% { bottom: 130px;right: 50px; };14.1% { bottom: 129.2px;right: 42.2px; };15.6% { bottom: 127px;right: 34.7px; };17.2% { bottom: 123.3px;right: 27.8px; };18.8% { bottom: 118.3px;right: 21.7px; };20.3% { bottom: 112.2px;right: 16.7px; };21.9% { bottom: 105.3px;right: 13px; };23.4% { bottom: 97.8px;right: 10.8px; };25% { bottom: 90px;right: 10px; };26.6% { bottom: 82.2px;right: 10.8px; };28.1% { bottom: 74.7px;right: 13px; };29.7% { bottom: 67.8px;right: 16.7px; };31.3% { bottom: 61.7px;right: 21.7px; };32.8% { bottom: 56.7px;right: 27.8px; };34.4% { bottom: 53px;right: 34.7px; };35.9% { bottom: 50.8px;right: 42.2px; };37.5% { bottom: 50px;right: 50px; };39.1% { bottom: 50.8px;right: 57.8px; };40.6% { bottom: 53px;right: 65.3px; };42.2% { bottom: 56.7px;right: 72.2px; };43.8% { bottom: 61.7px;right: 78.3px; };45.3% { bottom: 67.8px;right: 83.3px; };46.9% { bottom: 74.7px;right: 87px; };48.4% { bottom: 82.2px;right: 89.2px; };50% { bottom: 90px;right: 89.2px; };51.6% { bottom: 97.8px;right: 90px; };53.1% { bottom: 105.3px;right: 92.2px; };54.7% { bottom: 112.2px;right: 95.9px; };56.3% { bottom: 118.3px;right: 100.9px; };57.8% { bottom: 123.3px;right: 107px; };59.4% { bottom: 127px;right: 113.9px; };60.9% { bottom: 129.2px;right: 121.4px; };62.5% { bottom: 130px;right: 129.2px; };64.1% { bottom: 129.2px;right: 137px; };65.6% { bottom: 127px;right: 144.5px; };67.2% { bottom: 123.3px;right: 151.4px; };68.8% { bottom: 118.3px;right: 157.5px; };70.3% { bottom: 112.2px;right: 162.5px; };71.9% { bottom: 105.3px;right: 166.2px; };73.4% { bottom: 97.8px;right: 168.4px; };75% { bottom: 90px;right: 169.2px; };76.6% { bottom: 82.2px;right: 168.4px; };78.1% { bottom: 74.7px;right: 166.2px; };79.7% { bottom: 67.8px;right: 162.5px; };81.3% { bottom: 61.7px;right: 157.5px; };82.8% { bottom: 56.7px;right: 151.4px; };84.4% { bottom: 53px;right: 144.5px; };85.9% { bottom: 50.8px;right: 137px; };87.5% { bottom: 50px;right: 129.2px; };89.1% { bottom: 50.8px;right: 121.4px; };90.6% { bottom: 53px;right: 113.9px; };92.2% { bottom: 56.7px;right: 107px; };93.8% { bottom: 61.7px;right: 100.9px; };95.3% { bottom: 67.8px;right: 95.9px; };96.9% { bottom: 74.7px;right: 92.2px; };98.4% { bottom: 82.2px;right: 90px; };100% { bottom: 90px;right: 89.2px; };
}


#st-anim-4 {
  .token{

    -webkit-animation:infini 6s linear infinite;
    -moz-animation:infini 6s linear infinite;
    animation:infini 6s linear infinite;

  }
}
