@keyframes fadeIO {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes fadeIO{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIO{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeIO{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
$fade-duration: 3000ms;
.fadeIO.loop {
   -webkit-animation: fadeIO $fade-duration infinite;
   -moz-animation: fadeIO $fade-duration infinite;
   -o-animation: fadeIO $fade-duration infinite;
    animation: fadeIO $fade-duration infinite;
}

.fadeIO.on, .fadeIO.on2  {
   -webkit-animation: fadeIO $fade-duration ease-in-out;
   -moz-animation: fadeIO $fade-duration ease-in-out;
   -o-animation: fadeIO $fade-duration ease-in-out;
    animation: fadeIO $fade-duration ease-in-out;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-reverse { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@for $i from 1 through 10{
  .rotate-#{$i}s {
    -webkit-animation:spin #{$i}s linear infinite;
    -moz-animation:spin #{$i}s linear infinite;
    animation:spin #{$i}s linear infinite;
  }

  .rotate-reverse-#{$i}s{
    -webkit-animation:spin-reverse #{$i}s  linear infinite;
    -moz-animation:spin-reverse #{$i}s  linear infinite;
    animation:spin-reverse #{$i}s linear infinite;
  }
}

.rotate {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

.rotate-reverse {
  -webkit-animation:spin-reverse 2s linear infinite;
  -moz-animation:spin-reverse 2s linear infinite;
  animation:spin-reverse 2s linear infinite;
}
