@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i');



@import 'variables';
@import 'anim';
@import 'mobile';

html, body {

  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

#menu{
  position: fixed;
  top:0;
  right:0;
  width: 44px;
  height: 44px;
  border-radius: 0 0 0 100%;
  cursor: pointer;
  z-index:50;
  background: $primary no-repeat;


  #open-btn{
    @extend .anim-all;
    position: absolute;
    top:10px;
    right:10px;
    width: 25px;
    height: 24px;
    cursor: pointer;
    background:url('/build/static/layout/menu.svg')  no-repeat;
  }

  #close-btn{
    @extend .anim-all;
    position: absolute;
    top:-1px;
    right:-1px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 5px;
    width: 44px;
    height: 44px;
    line-height: 35px;
    border-radius: 0 0 0 100%;
    opacity: 0;
  }
  &:hover{
    background-position: 17px 11px;
    width: 50px;
    height: 50px;
  }


  ul{
    list-style: none;
  }
  li, #logo-white{
    @extend .anim-all;
    display: none;
    opacity: 0;
    a{
      font-size: 28px;
      font-weight: 300;
      color:#fff;
      text-decoration: none;
      &:hover{
        font-style: italic;
      }
    }

    &.on{
      opacity: 1;
    }
  }

  #social-links-top{
    display: none;
  }

  #header-video{
    display: none!important;
    @extend .anim-all;
    background: #FFF;
    position: absolute;
    right: 85px;

    opacity: 0;
    padding:25px;
    border-radius: 25px;
    overflow: hidden;

    &.on{
      display: inline-block!important;
      opacity: 1;

    }
  }

  &.open{
    position: fixed;
    padding: .5rem 1rem;
    width: 100%;
    height: 100vh;
    border-radius: 0 ;

    #close-btn{
      opacity: 1;
      z-index:20;
    }
    ul{
      display: inline-block;
    }
    #logo-white, li{
      display: block;
    }
    #social-links-top{
      display: block;
      a{
        color:#fff;
      }
    }
  }


}


header {
  nav {

    a.nav-link{
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      text-align: left;
      color: $primary;
    }
    .justify-content-end a.nav-link{
      border-radius: 18px;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.22;
      margin: 0 5px
    }
  }
}

.gcw-ico{
  position:absolute;
  width:32px;
  height: 32px;
  margin:-16px 0 0 -16px;
  text-align: center;
  z-index: 1;


  &.gcw-ico-gocobooster{
    background:url('/build/static/home/ecosystem/gocobooster.svg') no-repeat center center;
    background-size:32px 32px;
  }
  &.gcw-ico-gocoworker{
    background:url('/build/static/home/ecosystem/gocoworker.svg') no-repeat center center;
    background-size:32px 32px;
  }
  &.gcw-ico-gocompany{
    background:url('/build/static/home/ecosystem/gocompany.svg') no-repeat center center;
    background-size:32px 32px;
  }
  &.gcw-ico-gococampus{
    background:url('/build/static/home/ecosystem/gococampus.svg') no-repeat center center;
    background-size:32px 32px;

  }

}


#gcw-video, #gcw-video-menu{
  position: relative;
  background: url('/build/static/home/GO_V5.svg') no-repeat bottom right  ;

  height: 293px;
  width: 604px;
  max-width: 100%;

  a.btn-play{
    background: url('/build/static/home/btn-play.svg') no-repeat center ;
    background-size:contain;
    position:absolute;
    top:50%;
    left:50%;
    max-width:133px;
    max-height: 152px;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    padding:55px 10px;
    margin:-76px 0 0 -66.5px;
    text-decoration: none;
    z-index: 2;
    text-align: left;
  }

  .gcw-ico{
  /* gocoworker','gocompany','gocobooster','gococampus*/
  &.gcw-ico-g1-0{
    top: 20%;
    left: 6%;
  }
  &.gcw-ico-g1-1{
    top: 52%;
    left: 19.5%;
  }
  &.gcw-ico-g1-2{
    top: 69%;
    left: 28%;

  }
  &.gcw-ico-g1-3{
    top: 6%;
    left: 40%;
  }

  &.gcw-ico-g2-0{
    top: 9%;
    left: 93%;
  }
  &.gcw-ico-g2-1{
    top: 54%;
    left: 77%;
  }
  &.gcw-ico-g2-2{
    top: 10%;
    left: 62%;

  }
  &.gcw-ico-g2-3{
    top: 55.5%;
    left: 66.5%;
  }
}

}



form[name="newsletter"]{

  label{
    font-size: 19px;
    font-weight: bold;
    display: block;
    margin:25px auto;
  }
  .inputs{
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 31px;
    input[type="email"]{
      width: 424.1px;
      height: 51.8px;
      border-radius: 31px;
      border:0px;

      background-color: #ffffff;
      padding:18px;
      color:$third;
      font-size: 12px;
      font-weight: 300;
    }
    button{
      width: 134.9px;
      height: 52px;
      border-radius: 31px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      background: $primary;
      color:#fff;
      margin: 0 0 0 -80px;
    }


  }
}
footer{
  background:url('/build/static/layout/bg-violet.svg') center center;
  padding:0 0 55px 0;

  #mailto-content{
    position: relative;
    padding:200px 0 0 0;

    #mailbox{
      background: url('/build/static/layout/enveloppe.svg') top center no-repeat;
      margin:auto;
      position: absolute;
      top:25px;
      left:50%;
      margin: 0 0 0 -62px;
      display: block;
      width: 124px;
      height: 140px;

      .helix{
        position: absolute;
        top:120px;
        left:50%;
        width: 30px;
        height: 30px;
        margin:-15px 0 0 -15px;
        background:url('/build/static/home/roadmap/helix.svg') center left no-repeat;

      }
    }

  }


  p#social-links a{
    padding: 0 7px ;
  }
}

#presale-timer{
  position: fixed;
  z-index: 100;
  left:0;
  bottom:0;
  height: 55px;
  width:100%;
  background: $primary;
  color:#fff;

  #close-timer-btn{
    position: absolute;

    color:#FFF;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    background:url('/build/static/layout/cross.svg') center center no-repeat #88517E;
    text-align: center;
    border-radius: 100%;
    top:50%;
    right: 54px;
    margin:-12px 0 0 0;
    cursor: pointer;

  }

  h6{
    font-size: 9px;
    font-weight: 600;
  }
  p, .timer{
    margin:0;
    padding:0;
    width:47px;

  }
  .time-label{
    font-size: 6px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.33;
    display:block;
  }
  .time-value{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    display:block;
  }
  #annoucement{
    font-size: 14px;
    line-height: 1.29;
  }
  a#annoucement-btn{
    border-radius: 18px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #ffffff;
    font-size: 9px;
    padding:5px;
    font-weight: 500;
    color:#FFF;
    &:hover{
      font-style: italic;
    }
  }
}
