@import 'variables';


.screen{
  min-height:100vh; //TODO
}
.screen:first-child{
  min-height:90vh; //TODO
}

h2{
  font-size: 38.7px;
  font-weight: 600;
  height: 116px;
  line-height: 116px;
  padding:0 50px;
  background:url('/build/static/home/title-shadow.svg') center left no-repeat;
}

#gcw{
  h1{
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: center;
    color: $primary;
  }

  h3{
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: $secondary;
  }


  #gcw-periods-{
    position:relative;
    height: 293px;
    width: 484px;
    max-width: 100%;
    form[name="newsletter"]{
      position: absolute;
      top:50%;
      left:50%;
      width: 100%;
      max-width: 484px;
      height: 104px;
      margin:-92px 0 0 -242px;
    }
  }
  #gcw-periods-presale,   #gcw-periods-sale{
    max-width: 500px;
    .third-color{

      font-size: 16px;
      font-weight: 600;
      line-height: 1.23;
      margin:3px auto 0 auto;
    }
    .digit{
      font-size: 25px;

      font-weight: bold;
      line-height: 1.19;
      color:$primary;
    }
    #progress-bar{
      width:100%;
      height: 13px;
      border-radius:5px;
      background: #EDEDED;
      margin: 0 0 8px 0;
      .progress-value{
        background: $primary;
        border-radius:5px;
        height: 13px;
      }
    }
    .btn{
      border:0px;
      border-radius: 18px;
      font-size: 13px;
      font-weight: 600;
    }
  }
  #gcw-periods-sale{
    .digit{
      font-size: 21px;
    }
    .third-color{
      font-size: 13px;
      font-weight: 600;
    }
    #gcw-last-update{
      font-size: 9px;
      font-weight: 300;
      font-style: italic;
    }
  }

}


#about{
  position: relative;

  #about-mid{
    background: rgba(255,255,255,0.9);
    z-index:5;

    max-width: 442px;
    margin:auto;
  }
  #about-left{
    position: absolute;
    top:0;
    left:0;
    width:472px;
    max-width: 100%;
    overflow: hidden;
    height: 476px;
    background:url('/build/static/home/about/left.svg') no-repeat top left;
    z-index:1;

    #helix-head{
      background:url('/build/static/home/about/helix-head2.svg') no-repeat center center;
      position: absolute;
      top:140px;
      left:102px;
      width:116px;
      height: 116px;
      margin:-58px 0 0 -58px;
      z-index: 3;
    }
    #helix-foot{
      background:url('/build/static/home/about/helix-foot.svg') no-repeat center center;
      position: absolute;
      top:145px;
      left:98px;
      width:7.6px;
      height: 129px;
      z-index: 2;
    }

  }
  #about-right{
    position: absolute;
    bottom:0;
    right:0;
    width:413px;
    max-width: 100%;
    overflow: hidden;
    height: 606px;
    background: url('/build/static/home/about/right.svg') no-repeat bottom right;
    z-index:1;

    #wheel{
      position: absolute;
      bottom:94px;
      right:73.5px;
      background:url('/build/static/home/about/wheel.svg') no-repeat center center;
      width:147px;
      height: 147px;
    }
    #wheel-foots{
      position: absolute;
      bottom:70px;
      right:116px;
      width: 65px;
      height: 29px;
      background:url('/build/static/home/about/wheel-foots.svg') no-repeat center center;
    }
    .wheel-cab{
      position: absolute;
      background:url('/build/static/home/about/wheel-cab.svg') no-repeat center center;
      width:20.6px;
      height: 18px;
      margin:0 -10.3px -9px 0;
    }


  }
  h2{
    font-size: 38.7px;
    font-weight: 600;
    height: 116px;
    line-height: 116px;
    padding: 0 25px;

  }
  p{
    font-size: 19.4px;
    font-weight: 300;
    line-height: 1.65;
  }
}

#sq{

  h2{
    font-size: 38.7px;
    font-weight: 600;
    height: 116px;
    line-height: 116px;
    background:url('/build/static/home/title-shadow.svg') center right no-repeat;
  }


  .sq-anim{
    position: relative;
    width:252px;
    height: 252px;
    //background:  url('/build/static/home/bg-dashed.svg') center center;
    /*
    .mask{
      position:absolute;
      background:  url('/build/static/home/mask.svg') center center no-repeat transparent;
      top:0;
      left:0;
      width:252px;
      height: 252px;
      z-index:10;

    }
*/
    .freelance{
      background: url('/build/static/home/status/freelance.svg') center center no-repeat;
      width: 66px;
      height: 66px;
      position: absolute;
      top:50%;
      left: 50%;
      margin: -33px 0 0 -33px;
    }

    &#sq-anim-1{
      background:  url('/build/static/home/bg-dot-bar.svg') 55% 85%;
      .z-1{
        position: absolute;
        top:49px;
        left:50px;
        height: 134px;
        width: 155px;
        background: linear-gradient(to bottom, #CA0049 0%,  #CA0049 25%,#D75082 26%, #D75082 50%, #D66994 51%, #D66994 75%, #E49CB9 76%, #E49CB9 100%);;
        z-index: 1;
      }

      .z-2{
        position: relative;
        width:252px;
        height: 252px;
        background: url('/build/static/home/status/pyramide.svg') center center no-repeat;
        z-index:2;
      }
      .freelance{
        z-index:3;
      }

    }

    &#sq-anim-2{
      /*background: url('/build/static/home/bg-dashed.svg') 60% 76% no-repeat ;*/
      .z-1{
        position: relative;
        width:252px;
        height: 252px;
        background: url('/build/static/home/status/fond-ordi.svg') center center no-repeat;
        z-index:1;
      }

      .freelance{
        z-index:2;
      }
      .z-3{
        position: absolute;
        bottom:86px;
        left:96px;
        height: 86px;
        width: 89px;
        background: url('/build/static/home/status/lock.svg') top center no-repeat;
        background-size:cover;
        z-index: 3;
      }
    }

    &#sq-anim-3{
      /*background: url('/build/static/home/bg-dashed.svg') center 20% no-repeat ;*/
      .z-1{
        position: relative;
        width:252px;
        height: 252px;
        background: url('/build/static/home/status/mountain.svg') center center no-repeat;
        z-index:1;
      }

      .freelance{
        z-index:3;
      }
    }

    &#sq-anim-4{
      background: url('/build/static/home/status/fond-milennials.svg') center center no-repeat;
      .z-3{
        position: relative;
        width:252px;
        height: 252px;
        background: url('/build/static/home/status/milennials.svg') center center no-repeat;
        z-index:3;
      }
      #dash-1, #dash-2, #dash-3{
        position: absolute;

        width: 4px;
        height: 18px;
        margin:-9px 0 0 -2px;
        background: #2E48FB;
        z-index: 2;
      }
      #dash-1{
        top:50px;
        left:50%;
      }
      #dash-2{
        top:75%;
        left:25%;
        -webkit-transform:rotate(45deg);
      }
      #dash-3{
        top:75%;
        left:75%;
        -webkit-transform:rotate(-45deg);
      }
      .freelance{
        z-index:3;
      }
    }
  }
  h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.56;
    color:$primary;
    text-align: center;
  }
  ul{
    margin:0;
    padding:0;

  }
  li{
    color:$secondary;
    text-align: center;
    list-style: none;
    margin:10px auto;
  }
}
#ecosystem{

  #animated-bg{

    position: relative;
    background:url('/build/static/home/ecosystem/ecosystem.svg') top center no-repeat;
    background-size:1680px auto;
    width: 100%;

    height: 900px;
    overflow: hidden;

    .fountain{
      position: absolute;
      top:50%;
      left:50%;
      width: 29px;
      height: 33px;
      background:
      url('/build/static/home/ecosystem/fountain/haut-clair-droit.png') center center no-repeat,
      url('/build/static/home/ecosystem/fountain/haut-fonce-droit.png') center center no-repeat,
      url('/build/static/home/ecosystem/fountain/haut-fonce-gauche.png') center center no-repeat,

      url('/build/static/home/ecosystem/fountain/bas-clair-droit.png') center center no-repeat,
      url('/build/static/home/ecosystem/fountain/bas-fonce-droit.png') center center no-repeat,
      url('/build/static/home/ecosystem/fountain/bas-clair-gauche.png') center center no-repeat,
      url('/build/static/home/ecosystem/fountain/bas-fonce-gauche.png') center center no-repeat,
      url('/build/static/home/ecosystem/fountain/base.png') center center no-repeat;

    }
    .wave{
      position: absolute;
      top:50%;
      left:50%;
      width: 50px;
      height: 6px;
      background:url('/build/static/home/ecosystem/wave.svg') left center repeat-x;
      background-size: auto 6px;
      .waving{
        margin:auto;

        width:100%;
        height: 6px;

      }
    }
    #wave-1{

      margin:-247px 0 0 -505px;
      width: 60px;
    }
    #wave-2{
      margin:-239px 0 0 -505px;
    }

    #wave-3{

      margin:-77px 0 0 -755px;
      width: 60px;
    }
    #wave-4{
      margin:-69px 0 0 -755px;
    }

    #wave-5{

      margin:30px 0 0 -100px;
      width: 100px;
    }
    #wave-6{
      margin:39px 0 0 -100px;
      width: 80px;
    }
    #wave-7{

      margin:-170px 0 0 674px;
      width: 60px;
    }
    #wave-8{
      margin:-159px 0 0 674px;
    }
    #wave-9{

      margin:170px 0 0 474px;
      width: 90px;

    }
    #wave-10{
      margin:29px 0 0 564px;
      width: 60px;
    }
    #wave-11{
      margin:39px 0 0 534px;
      width: 90px;
    }

  }

  #eco-title{
    margin:-120px auto 0 auto;
  }
  h2{
    background:url('/build/static/home/title-shadow.svg') center left no-repeat;
  }

  p{
    font-size: 19.4px;
    font-weight: 300;
    line-height: 1.93;
  }
  #eco-list{
    background:url('/build/static/home/bg-dashed.svg') top center;
    .eco-item{
      width: 456px;
      min-height: 185px;
      object-fit: contain;
      border-radius: 52px;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.11);
      background-color: #ffffff;

      img {
        text-align: center;
      }
      h3{
        font-size: 29px;
        font-weight: 600;
        line-height: 1.6;
      }
      p{
        font-size: 14px;
        font-weight: 300;

      }
    }
  }
}

#story{
  p{
    font-size: 19.4px;
    font-weight: 300;
    line-height: 1.93;
  }

  #story-list{
    background:url('/build/static/home/bg-dashed.svg') top center;
    .story-item{
      max-width: 456px;
      min-height: 205px;
      border-radius: 52px;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.11);
      background-color: #ffffff;


      h4{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.19;
      }
      p{
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

#archi{

  #fabric{
    border-radius: 21px;
    max-width: 310px;

    h3{
      font-size: 17px;
      color:$primary;

    }
    p{
      font-size: 14px;
      color:$secondary;
      line-height: 2.18;
    }
  }

  #archi-scheme {
    font-size:11px;
    color:$secondary;

    width: 700px;

    .archi-scheme-left
    {
      display: inline-block;
      width: 540px;
    }
    .archi-scheme-right
    {
      display: inline-block;
      width: 120px;
      font-weight: bold;
      font-size: 12px;
    }
    .archi-col-1, .archi-col-2, .archi-col-3{
      display: inline-block;
      color:$primary;
      text-align: center;
      font-weight: bold;
      margin:auto;
      padding:0;
    }
    #archi-scheme-header{
      position: relative;
      z-index:3;
      .archi-scheme-left
      {
        background: #CEB7CB;
        border-radius: 21px 21px 0 0;
        padding: 25px 0 15px 0;
        .archi-col-1, .archi-col-3{
          width: 30%;
          margin: auto;
        }
        .archi-col-2{
          width: 33%;
        }
      }

    }
    #archi-scheme-body{
      position: relative;
      max-height: 380px;
      .drop{
        position: absolute;
        height: 6px;
        width: 2px;
        top:-12px;
        z-index:2;
        background: $primary;
      }

      .archi-scheme-left{
        background: $gray-light;
        .archi-blank{
          display: inline-block;
          position: relative;
          height: 100%;
          vertical-align: top;
          margin:0; padding:0;
          border:0px;
          background-color: #F00;
        }
        #archi-blank-1, #archi-blank-6{
          width: 40px;
        }
        #archi-blank-2, #archi-blank-3, #archi-blank-4, #archi-blank-5{
          width: 34px;
        }
        .archi-col-1, .archi-col-2, .archi-col-3{
          width: 100px;
          margin:0; padding:0;
          border:0px;
        }

        .white-bg{
          position: relative;

          margin:auto!important;
          background: rgba(255,255,255,1);
          z-index:3;
        }
      }
      .archi-scheme-right{
        vertical-align: top;
      }
    }
    #archi-scheme-footer {
      position: relative;
      z-index:3;
      .archi-scheme-left{
        background: #CEB7CB;
        border-radius: 0 0 21px 21px;
        padding: 15px 0 25px 0;
        .archi-col-1, .archi-col-3{
          width: 30%;
          margin: auto;
        }
        .archi-col-2{
          width: 33%;
        }

      }
    }
  }

}

#events{

  .event-item{
    margin: auto;
    max-width: 250px;
    border-radius: 30px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.11);

    .event-item-header{
      position: relative;
      border-radius: 30px 30px 0 0;
      height: 118px;

      .price, .date{
        position: absolute;
        top:5px;
        width: 50px;
        height: 50px;
      }
      .date{
        height: 50px;
        font-size: 12px;
        line-height: 14px;
        left:5px;
        padding:8px 0;
        b{
          font-size: 20px;
        }
      }
      .price{
        right:5px;
        line-height: 50px;
        font-size: 14px;
      }
    }
    h4{
      margin:5px auto;
      font-size:15px;
      font-weight: bold;
    }
    .full-date, .place{
      font-size:9px;
      line-height: 1.22;
      font-weight: 300;
      color:$secondary;

      .fas{
        font-size:12px;
        margin: 0px 10px 3px 0;
        vertical-align: middle;
      }
    }
  }
}

#roadmap{
  min-width: 640px;
  #roadmap-sheme{


    position: relative;
    min-height:75vh;
    .roadmap-step{
      position:absolute;
      z-index:15;
      color:$primary;
      font-size: 14px;
      font-weight: bold;

      width:92px;
      height: 34px;
      margin:25px 0 0 -46px;

    }
    .roadmap-date{
      position:absolute;
      z-index:15;
      width:92px;
      height: 34px;
      line-height: 34px;
      margin: -17px 0 0 -46px;
      padding:0px 10px;
      background: #636466;
      font-size: 13px;
      font-weight: bold;
      color:#fff;
      border-radius: 5px;
    }
    .roadmap-label{
      position:absolute;
      z-index:15;
      width:300px;
      height: 55px;
    }
    #roadmap-label-1,  #roadmap-label-2,   #roadmap-label-3{

      width: 222px;
      height: 40px;
      margin:0 0 0 -111px;
      line-height: 40px;
      color:$primary;
      text-align: left;
      font-size: 12px;
      font-weight: bold;
      padding: 0  0 0 20px;
      background:url('/build/static/home/roadmap/airship-right.svg') center left no-repeat;
    }

    #roadmap-label-1{
      top:2%;
      right:80%;
    }
    #roadmap-label-2{
      top:33%;
      left:85%;
      background:url('/build/static/home/roadmap/airship-left.svg') center left no-repeat;
      padding: 0  0 0 105px;
      width: 242px;
    }
    #roadmap-label-3{
      top:70%;
      right:80%;
    }


    #roadmap-date-2013, #roadmap-date-2014, #roadmap-date-2015, #roadmap-date-2016,
    #roadmap-step-1, #roadmap-step-2, #roadmap-step-3,  #roadmap-step-4
    {
      top:15%;
    }
    #roadmap-date-2020, #roadmap-date-2019, #roadmap-date-2018, #roadmap-date-2017,
    #roadmap-step-8, #roadmap-step-7, #roadmap-step-6,  #roadmap-step-5
    {
      top:50%;
    }
    #roadmap-date-2021, #roadmap-date-2022, #roadmap-date-2023, #roadmap-date-2027,
    #roadmap-step-9, #roadmap-step-10, #roadmap-step-11,  #roadmap-step-12{
      top:85%;
    }

    #roadmap-date-2013, #roadmap-date-2020,   #roadmap-date-2021,
    #roadmap-step-1,#roadmap-step-8,#roadmap-step-9
    {
      left:15%;
    }
    #roadmap-date-2014, #roadmap-date-2019,   #roadmap-date-2022,
    #roadmap-step-2, #roadmap-step-7, #roadmap-step-10
    {
      left:37.5%;
    }
    #roadmap-date-2015, #roadmap-date-2018,   #roadmap-date-2023,
    #roadmap-step-3, #roadmap-step-6, #roadmap-step-11
    {
      left:62.5%;
    }
    #roadmap-date-2016, #roadmap-date-2017,   #roadmap-date-2027,
    #roadmap-step-4, #roadmap-step-5, #roadmap-step-12{
      left:85%;
    }

    .road-h{
      background: $primary;
      position: absolute;
      height: 4px;
      margin: -2px 0 0 0;
      z-index: 3;
    }
    #road-h-1{
      top:15%;
      left:5%;
      width: 90%;
    }
    #road-h-2{
      top:50%;
      left:5%;
      width: 90%;
    }
    #road-h-3{
      top:85%;
      left:5%;
      width: 90%;
    }

    .road-v{
      background: $primary;
      position: absolute;
      width: 4px;
      margin: -2px 0 0 0;
      z-index: 3;
    }
    #road-v-1{
      top:15%;
      left:5%;
      height: 10%;
    }
    #road-v-2{
      top:15%;
      left:95%;
      height: 45%;
    }
    #road-v-3{
      top:50%;
      left:5%;
      height: 45%;
    }
    .road-helix{
      position: absolute;
      width: 30px;
      height: 30px;
      margin:-2px 0 0 -13px;
      background:url('/build/static/home/roadmap/helix.svg') center left no-repeat;
    }
    #road-helix-1{
      top:25%;
      left:5%;
    }
    #road-helix-2{
      top:60%;
      left:95%;
    }
    #road-helix-3{
      top:95%;
      left:5%;
    }



    .road-dot{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border:2px solid $primary;
      background:$primary;
      margin:-5px 0 0 -5px;
      z-index: 20;
    }

    #road-dot-1, #road-dot-2, #road-dot-3{
      top:15%;
    }
    #road-dot-6, #road-dot-5, #road-dot-4{
      top:50%;
    }
    #road-dot-7, #road-dot-8, #road-dot-9{
      top:85%;
    }
    #road-dot-1,  #road-dot-6, #road-dot-7{
      left:25%;
    }
    #road-dot-2,  #road-dot-5, #road-dot-8{
      left:50%;
    }
    #road-dot-3,  #road-dot-4, #road-dot-9{
      left:75%;
    }
    #road-dot-6, #road-dot-7, #road-dot-8, #road-dot-9{
      background: #fff;
    }


    #roadmap-here{
      position: absolute;
      top:50%;
      left:50%;
      width: 80px;
      height: 120px;
      margin : -60px 0 0 -40px;

      #roadmap-here-pin{
        position: absolute;
        width: 29px;
        height: 44px;
        margin:0 0 0 -14.5px;
        background:url('/build/static/home/roadmap/pin.svg') center center no-repeat;;
        top:0%;
        left:50%;
      }
      #roadmap-here-dot{
        position: absolute;
        width: 20px;
        height: 20px;
        margin:-10px 0 0 -10px;
        border-radius: 50%;
        border:2px solid $primary;
        background:$primary;
        top:50%;
        left:50%;
      }
      #roadmap-here-txt{
        position: absolute;
        width: 80px;
        height: 50px;
        margin:-5px 0 0 -40px;
        border-radius: 50%;
        top:70%;
        left:50%;
        font-size: 19px;
        line-height: 0.95;
        font-weight: bold;
        color:$primary;
      }

    }

  }
}

/* Smart Token */
.st-anim{
  position: relative;
  width:252px;
  height: 252px;
  /*background:  url('/build/static/home/bg-dashed.svg') center center ;*/


  .token{
    background: url('/build/static/home/archi/TOKEN_ARCHITECTURE.png') center center no-repeat;
    background-size: contain;
    width: 66px;
    height: 66px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -33px 0 0 -33px;
  }

  &#st-anim-1{
    background:  url('/build/static/home/bg-dot-bar.svg') center center;
    .z-1{
      position: absolute;
      bottom:56px;
      left:50%;
      margin:0 0 0 -75px;
      height: 91px;
      border-top: 3px solid #0054ff;
      width: 150px;
      background: #A5B6F3;
      z-index: 1;
    }

    .z-2{
      position: relative;
      width:252px;
      height: 252px;
      background: url('/build/static/home/smart/erlenmayer.svg') center center no-repeat;
      z-index:2;
    }
    .token{
      top:60%;
      opacity: 0;
      z-index:3;
    }
  }

  &#st-anim-2{
    background:  url('/build/static/home/bg-dot-bar.svg') top left;
    .z-1{
      background: url('/build/static/home/smart/cercle-doc.svg') center center no-repeat;
      border-radius: 15px;
      width: 80px;
      height: 96px;
      position: absolute;
      top:50%;
      left: 50%;
      margin:-20px 0 0 -45px;


    }
    .z-2{
      position: relative;
      width:72px;
      height: 105px;
      background: url('/build/static/home/smart/doc.svg') center center no-repeat;
      position: absolute;
      top:50%;
      left: 50%;
      z-index:2;
      margin:-90px 0 0 -10px;
    }

  }

  &#st-anim-3{
    .z-1{
      width:252px;
      height: 252px;
      background: url('/build/static/home/smart/gift-box.svg') center center no-repeat;
    }
    .z-2{
      position: absolute;
      top:40%;
      left: 50%;
      margin:-32px 0 0 -63.5px;
      width: 127px;
      height: 62px;
      background: url('/build/static/home/smart/gift-top.svg') center center no-repeat;
    }
    .token{
      top:60%;
    }
  }


  &#st-anim-4{
    .z-1{
      width:252px;
      height: 252px;
      background: url('/build/static/home/smart/infini.svg') center center no-repeat;
    }
    .token{
      top:inherit;
      left:inherit;
    }
  }
}
