<div class="d-inline-block align-middle mb-5 my-md-3" id="{{htmlId}}">
  <a class="btn-play" href="#">{{'main_btn_play' | trans}}</a>
   {{ include('frontend/default/partials/_icoGroup.html.twig', { 'groupCount' : 2 }) }}
</div>
