<div id="gcw" class="screen text-center">
  <div class="m-5">
    <img src="{{ asset('build/static/home/gocoworker.svg')}}" alt="Gocoworker" class="img-fluid" />
  </div>
  <div class="p-3 m-5">
    <h1 class="text-center m-2">{{'main_h1' | trans }}</h1>
    <h3 class="text-center m-2">{{'main_h2' | trans}}</h3>
  </div>

  </div>
</div>
