<div id="about" class="screen py-5 row  text-center">

  <div class="col-12 col-md-4 offset-md-4">
    <h2 class="text-center my-5 primary-color d-inline-block">{{'about_title' | trans }}</h2>
    <p class="text-center my-5 secondary-color">{{'about_p_1' | trans}}</p>
    <p class="text-center my-5 secondary-color">{{'about_p_2' | trans}}</p>
  </div>


</div>
